{% extends "shared/_app_layout.html" %}

{% block title %}
    Horaire
{% endblock %}

{% block workspace %}
    <div class="row">
        <div class="table-responsive">
            <table class="table mx-auto w-auto">
                <thead>
                <tr class="table-header">
                    <th id="header_session" scope="col">Automne 2019</th>
                    <th id="header_lundi" scope="col">Lundi</th>
                    <th id="header_mardi" scope="col">Mardi</th>
                    <th id="header_mercredi" scope="col">Mercredi</th>
                    <th id="header_jeudi" scope="col">Jeudi</th>
                    <th id="header_vendredi" scope="col">Vendredi</th>
                    <th id="header_samedi" scope="col">Samedi</th>
                    <th id="header_dimanche" scope="col">Dimanche</th>
                </tr>
                </thead>
                <tbody>
                <tr id="row_00" class="align-top">
                    <th scope="row">8h00</th>
                    <td id="000"></td>
                    <td id="100"></td>
                    <td id="200"></td>
                    <td id="300"></td>
                    <td id="400"></td>
                    <td id="500"></td>
                    <td id="600"></td>
                </tr>
                <tr id="row_01">
                    <th scope="row">9h30</th>
                    <td id="001"></td>
                    <td id="101"></td>
                    <td id="201"></td>
                    <td id="301"></td>
                    <td id="401"></td>
                    <td id="501"></td>
                    <td id="601"></td>
                </tr>
                <tr id="row_10h00">
                    <th scope="row">11h00</th>
                    <td id="002"></td>
                    <td id="102"></td>
                    <td id="202"></td>
                    <td id="302"></td>
                    <td id="402"></td>
                    <td id="502"></td>
                    <td id="602"></td>
                </tr>
                <tr id="row_11h00">
                    <th scope="row">12h15</th>
                    <td id="003"></td>
                    <td id="103"></td>
                    <td id="203"></td>
                    <td id="303"></td>
                    <td id="403"></td>
                    <td id="503"></td>
                    <td id="603"></td>
                </tr>
                <tr id="row_12h00">
                    <th scope="row">13h00</th>
                    <td id="004"></td>
                    <td id="104"></td>
                    <td id="204"></td>
                    <td id="304"></td>
                    <td id="404"></td>
                    <td id="504"></td>
                    <td id="604"></td>
                </tr>
                <tr id="row_13h00">
                    <th scope="row">14h30</th>
                    <td id="005"></td>
                    <td id="105"></td>
                    <td id="205"></td>
                    <td id="305"></td>
                    <td id="405"></td>
                    <td id="505"></td>
                    <td id="605"></td>
                </tr>
                <tr id="row_14h00">
                    <th scope="row">16h00</th>
                    <td id="006"></td>
                    <td id="106"></td>
                    <td id="206"></td>
                    <td id="306"></td>
                    <td id="406"></td>
                    <td id="506"></td>
                    <td id="606"></td>
                </tr>
                <tr id="row_15h00">
                    <th scope="row">17h30</th>
                    <td id="007"></td>
                    <td id="107"></td>
                    <td id="207"></td>
                    <td id="307"></td>
                    <td id="407"></td>
                    <td id="507"></td>
                    <td id="607"></td>
                </tr>
                <tr id="row_16h00">
                    <th scope="row">19h00</th>
                    <td id="008"></td>
                    <td id="108"></td>
                    <td id="208"></td>
                    <td id="308"></td>
                    <td id="408"></td>
                    <td id="508"></td>
                    <td id="608"></td>
                </tr>
                <tr id="row_17h00">
                    <th scope="row">20h30</th>
                    <td id="009"></td>
                    <td id="109"></td>
                    <td id="209"></td>
                    <td id="309"></td>
                    <td id="409"></td>
                    <td id="509"></td>
                    <td id="609"></td>
                </tr>
                <tr id="18h00">
                    <th scope="row">22h00</th>
                    <td id="010"></td>
                    <td id="110"></td>
                    <td id="210"></td>
                    <td id="310"></td>
                    <td id="410"></td>
                    <td id="510"></td>
                    <td id="610"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <script>
        window.onload = function () {
            {% for user_course in user_courses_list %}
                console.log("{{ user_course['group'][1] }}");
                {% for user_course_date_local in user_course['group'][1] %}
                    console.log("local : {{ user_course_date_local }}");
                    {% for user_course_date in user_course_date_local[1] %}
                        document.getElementById("{{ user_course_date }}").innerHTML = "{{ user_course['name'] }} <br> {{ user_course_date_local[0] }}";
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        };
    </script>


{% endblock %}