{% extends "shared/_app_layout.html" %}

{% block title %}
    Horaire
{% endblock %}

{% block workspace %}
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr class="table-header">
                        <th id="header_session" scope="col">Automne 2019</th>
                        <th id="header_lunid" scope="col">Lundi</th>
                        <th id="header_mardi" scope="col">Mardi</th>
                        <th id="header_mercredi" scope="col">Mercredi</th>
                        <th id="header_jeudi" scope="col">Jeudi</th>
                        <th id="header_vendredi" scope="col">Vendredi</th>
                        <th id="header_samedi" scope="col">Samedi</th>
                        <th id="header_dimanche" scope="col">Dimanche</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="row_8h00">
                        <th scope="row">8h00</th>
                        <td id="lundi_8h00"></td>
                        <td id="mardi_8h00"></td>
                        <td id="mercredi_8h00"></td>
                        <td id="jeudi_8h00"></td>
                        <td id="vendredi_8h00"></td>
                        <td id="samedi_8h00"></td>
                        <td id="dimanche_8h00"></td>
                    </tr>
                    <tr id="row_9h00">
                        <th scope="row">9h00</th>
                        <td id="lundi_9h00"></td>
                        <td id="mardi_9h00"></td>
                        <td id="mercredi_9h00"></td>
                        <td id="jeudi_9h00"></td>
                        <td id="vendredi_9h00"></td>
                        <td id="samedi_9h00"></td>
                        <td id="dimanche_9h00"></td>
                    </tr>
                    <tr id="row_10h00">
                        <th scope="row">10h00</th>
                        <td id="lundi_10h00"></td>
                        <td id="mardi_10h00"></td>
                        <td id="mercredi_10h00"></td>
                        <td id="jeudi_10h00"></td>
                        <td id="vendredi_10h00"></td>
                        <td id="samedi_10h00"></td>
                        <td id="dimanche_10h00"></td>
                    </tr>
                    <tr id="row_11h00">
                        <th scope="row">11h00</th>
                        <td id="lundi_11h00"></td>
                        <td id="mardi_11h00"></td>
                        <td id="mercredi_11h00"></td>
                        <td id="jeudi_11h00"></td>
                        <td id="vendredi_11h00"></td>
                        <td id="samedi_11h00"></td>
                        <td id="dimanche_11h00"></td>
                    </tr>
                    <tr id="row_12h00">
                        <th scope="row">12h00</th>
                        <td id="lundi_12h00"></td>
                        <td id="mardi_12h00"></td>
                        <td id="mercredi_12h00" class="table-danger">Sécurité Web <br> local: p4-3320</td>
                        <td id="jeudi_12h00"></td>
                        <td id="vendredi_12h00"></td>
                        <td id="samedi_12h00"></td>
                        <td id="dimanche_12h00"></td>
                    </tr>
                    <tr id="row_13h00">
                        <th scope="row">13h00</th>
                        <td id="lundi_13h00"></td>
                        <td id="mardi_13h00"></td>
                        <td id="mercredi_13h00"></td>
                        <td id="jeudi_13h00"></td>
                        <td id="vendredi_13h00"></td>
                        <td id="samedi_13h00"></td>
                        <td id="dimanche_13h00"></td>
                    </tr>
                    <tr id="row_14h00">
                        <th scope="row">14h00</th>
                        <td id="lundi_14h00"></td>
                        <td id="mardi_14h00"></td>
                        <td id="mercredi_14h00"></td>
                        <td id="jeudi_14h00"></td>
                        <td id="vendredi_14h00"></td>
                        <td id="samedi_14h00"></td>
                        <td id="dimanche_14h00"></td>
                    </tr>
                    <tr id="row_15h00">
                        <th scope="row">15h00</th>
                        <td id="lundi_15h00"></td>
                        <td id="mardi_15h00"></td>
                        <td id="mercredi_15h00"></td>
                        <td id="jeudi_15h00"></td>
                        <td id="vendredi_15h00"></td>
                        <td id="samedi_15h00"></td>
                        <td id="dimanche_15h00"></td>
                    </tr>
                    <tr id="row_16h00">
                        <th scope="row">16h00</th>
                        <td id="lundi_16h00"></td>
                        <td id="mardi_16h00"></td>
                        <td id="mercredi_16h00"></td>
                        <td id="jeudi_16h00"></td>
                        <td id="vendredi_16h00"></td>
                        <td id="samedi_16h00"></td>
                        <td id="dimanche_16h00"></td>
                    </tr>
                    <tr id="row_17h00">
                        <th scope="row">17h00</th>
                        <td id="lundi_17h00"></td>
                        <td id="mardi_17h00"></td>
                        <td id="mercredi_17h00"></td>
                        <td id="jeudi_17h00"></td>
                        <td id="vendredi_17h00"></td>
                        <td id="samedi_17h00"></td>
                        <td id="dimanche_17h00"></td>
                    </tr>
                    <tr id="18h00">
                        <th scope="row">18h00</th>
                        <td id="lundi_18h00"></td>
                        <td id="mardi_18h00"></td>
                        <td id="mercredi_18h00"></td>
                        <td id="jeudi_18h00"></td>
                        <td id="vendredi_18h00"></td>
                        <td id="samedi_18h00"></td>
                        <td id="dimanche_18h00"></td>
                    </tr>
                    <tr id="row_19h00">
                        <th scope="row">19h00</th>
                        <td id="lundi_19h00"></td>
                        <td id="mardi_19h00"></td>
                        <td id="mercredi_19h00"></td>
                        <td id="jeudi_19h00"></td>
                        <td id="vendredi_19h00"></td>
                        <td id="samedi_19h00"></td>
                        <td id="dimanche_19h00"></td>
                    </tr>
                    <tr id="row_20h00">
                        <th scope="row">20h00</th>
                        <td rowspan="2" id="lundi_20h00" class="table-success">Infographie <br> Local p2-1030</td>
                        <td id="mardi_20h00"></td>
                        <td id="mercredi_20h00"></td>
                        <td id="jeudi_20h00"></td>
                        <td id="vendredi_20h00"></td>
                        <td id="samedi_20h00"></td>
                        <td id="dimanche_20h00"></td>
                    </tr>
                    <tr id="row_21h00">
                        <th scope="row">21h00</th>
                        <td id="lundi_21h00"></td>
                        <td id="mardi_21h00"></td>
                        <td id="mercredi_21h00"></td>
                        <td id="jeudi_21h00"></td>
                        <td id="vendredi_21h00"></td>
                        <td id="samedi_21h00"></td>
                        <td id="dimanche_21h00"></td>
                    </tr>
                    <tr id="row_22h00">
                        <th scope="row">22h00</th>
                        <td id="lundi_22h00"></td>
                        <td id="mardi_22h00"></td>
                        <td id="mercredi_22h00"></td>
                        <td id="jeudi_22h00"></td>
                        <td id="vendredi_22h00"></td>
                        <td id="samedi_22h00"></td>
                        <td id="dimanche_22h00"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}